*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.navigation{
    position: fixed;
    top: 0;
    right: 0;
    font-size: 4rem;
    z-index: 50;
}

nav ul{
    margin: 1rem 2rem;
    list-style: none;
    line-height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}
nav li{
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    box-shadow: 5px 5px 15px 5px #474b4e;
}

nav li a{
    display: inline-block;
    text-decoration: none;
    line-height: 1.5rem;
    color: black;
    border-radius: 50%;
    line-height: 1.5rem;
    font-size: 1.5rem;
    padding: 1.5rem;
}

li a:hover{
    box-shadow: 5px 5px 15px 1px #000000;
}

li a:active{
    background-color: #9c9c9c;
}



.hero{
    width: 100%;
    height: 100vh;
    position:relative;
    text-align: center;
    font-size: 2rem;
    color: yellow;
}

#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
    color: green;
}


.hero section{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero img{
    width: 100%;
    height: auto;
}